.post{
    width: 400px;
    display: flex;
    /* justify-content: center; */
    margin: auto;
    padding: 10px;
    padding-top: 40px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgray;
    margin-top: 20px;
    overflow: auto;
}


.feed {
    display: block;
    justify-content: center
}

.feed ul{
    padding: 0
}


.post-author {
    position: absolute;
    top: 5px;
    left: 10px;
    /* float: left; */
    color: plum;
    text-decoration: none;
    font-size: 12px;
    display: flex
}


.post-author a {
    text-decoration: none;
    color: plum;
}
.post-author a:hover {
    border-bottom: 1px solid plum
}
.post-author p {
    color: lightgray;
    font-size: 10px;
    margin: 0;
    margin-top: 2px
}

.post-delete-button{
    position: absolute;
    padding: 0;
    right: 5px;
    top: 5px;
    background-color: white;
    border: none
}
.post-delete-button:hover {
    color: plum
}
.post-drop-down {
    display: none;
    list-style: none;
    color: black
}
.show {
    position: absolute;
    display: block;
    right:0;
    /* height: 50px; */
    width: 80px; 
    background-color: white;
}
.show li:first-child {
    border-bottom: 1px solid lightgray;
    
}

.show li {
    margin-top: 5px;
    padding-bottom: 5px;
    color: gray
}
.show li:hover {
    color: plum
}
*:focus{
    outline: none
}
.post-author img{
    height: 30px;
    margin-right: 5px
}

.new-post-div {
    display: flex;
    justify-content: left;
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgray;
    position: relative;;
}

.new-post-div img {
    height: 30px;
    margin-right: 5px;
    margin-top: 25px
}

.new-post textarea{
    border: none
}

.file-input{
     

}

/* input[type="file"] {
    background-color:red
} */
/* .file-input-label{
    border: 1px solid blueviolet
} */
.file-input input {
    background-color: plum
}

input:focus{
    outline: none
}

textarea{
    resize: none;
    overflow: auto;
    font-size: 20px
}

textarea:focus {
    outline: none
}
.new-post{
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%
}
.new-post button {
    background-color: plum;
    width: 90%
}
.new-post-head{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(243, 242, 242, 0.8);
    position: absolute;
    padding: 5px;
    padding-left: 5px;
    
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray
}
.post-photo{
    width: 100%
}
.post p{
    width: 100%
}
.post-content{
    display: block;
}
.show a{
    text-decoration: none;
    color: gray;
    border: none
}
.show li {
    color: gray
}
/* .post img {
    width: 100%
} */