.post{
    width: 400px;
    display: flex;
    /* justify-content: center; */
  
    margin: auto;
    padding: 10px;
    padding-top: 40px;
    position: relative;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgray;
    margin-top: 20px;
    overflow: auto;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: none;
}


.feed {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.feed-main{
    display: block
}

.feed ul{
    padding: 0
}


.post-author {
    position: absolute;
    top: 10px;
    left: 0px;
    /* float: left; */
    color: plum;
    text-decoration: none;
    font-size: 12px;
    display: flex
}



.post-author a {
    text-decoration: none;
    color: plum;
}
.post-author a:hover {
    border-bottom: none
}
.post-info a:hover {
    border-bottom: 1px solid plum
}
.post-author p {
    color: lightgray;
    font-size: 10px;
    margin: 0;
    margin-top: 2px
}

.post-delete-button{
    position: absolute;
    padding: 0;
    right: 5px;
    top: 5px;
    background-color: white;
    border: none
}
.post-delete-button:hover {
    color: plum
}
.post-drop-down {
    position: absolute;
    display: none;
    list-style: none;
    color: black;
    right:0;
    /* height: 50px; */
    width: 80px; 
    background-color: white;
}
.post-delete{
    border-bottom: 1px solid lightgray;
}
.show li:first-child {
    // border-bottom: 1px solid lightgray;
    
}

.show li {
    margin-top: 5px;
    padding-bottom: 5px;
    color: gray
}
.show li:hover {
    color: plum
}
*:focus{
    outline: none
}
.post-author img{
    height: 30px;
    width: 30px;
    margin-right: 5px;
    border-radius: 50%;
    padding: 0;
    border: 1px solid lightgray
}

.new-post-div {
    display: flex;
    justify-content: left;
    width: 400px;
    background-color: white;
    padding: 10px;
    margin: auto;
    margin-top: 12px;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgray;
    position: relative;;
}

.new-post-div img {
   height: 30px;
    width: 30px;
    margin-top: 25px;
    margin-left: 0;
    border-radius: 50%;
    padding: 0;
    border: 1px solid lightgray
}
//   height: 30px;
//     width: 30px;
//     margin-right: 5px;
//     border-radius: 50%;
//     padding: 0;
//     border: 1px solid lightgray



.new-post textarea{
    border: none
}

.file-input{
     display: none

}

/* input[type="file"] {
    background-color:red
} */
.file-input-label{
    height: 10px;
    width: 100px;
    color: plum;
    padding-bottom: 10px 
}
.file-input-label:hover{
    cursor: pointer;
}
.file-input input {
    background-color: plum
}

input:focus{
    outline: none
}

textarea{
    resize: none;
    overflow: auto;
    font-size: 20px
}

textarea:focus {
    outline: none
}
.new-post{
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%
}
.new-post button {
    background-color: plum;
    width: 90%;
    margin-top: 10px;
    border-radius: 10px;
}
.new-post-head{
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(243, 242, 242, 0.8);
    position: absolute;
    padding: 5px;
    padding-left: 5px;
    
    top: 0;
    left: 0;
    border-bottom: 1px solid lightgray
}
.post-photo{
    width: 100%
}
.post p{
    width: 100%
}
.post-content{
    display: block;
    width: 100%;
}
.post-content p {
    margin-bottom: 0
}
.show a{
    text-decoration: none;
    color: gray;
    border: none
}
.show li {
    color: gray
}
.post-photo{
    justify-self: center
}
/* .post img {
    width: 100%
} */
.profile-image {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.comment-form{
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    background-color: white;
    width: 400px;
    margin: auto;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none ;
   
}
.post-container{ 
    justify-content: center
}

.comment-form textarea{
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: rgb(243, 243, 243);
    // height: 20px;
    min-height: 15px;
    width: 300px;
    font-size: 12px;
}
.comment-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
    z-index: 1
}
.post-interactions-container{
    height: 10px;
    width: 400px;
    padding: 10px;
    background-color: white;
    margin: auto;
    border: 1px solid lightgray;
}
.new-post-photo{
    width: 30px;
    height: 30px
}

.new-post-main{
    display: flex
}

.post-interactions-container{
    display: flex;
    position: relative;
}

.post-interactions-container button {
    width: 50%;
    height: 100%;
    text-align: center;
    border: none;
    position: absolute
    
}
.post-interactions-container button:hover{
    background-color: plum
}
.post-interactions-container button.comment-button{
    right: 0;
    top: 0
}
.post-interactions-container button.react-button{
    left: 0;
    top: 0
}

.comment-index{
    width: 400px;
    padding: 10px;
    background-color: white;
    margin: auto;
    border: 1px solid lightgray;
    border-top: none;
    margin-bottom: 10px;
    padding-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}
.comment-index ul{
    padding: 0
}
.comment-index li {
    list-style: none;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    padding-bottom: 5px
}
.comment-react{
    position: relative;
    display: flex;
    // justify-content: space-around;
    align-content: center;
    margin-top: 5px
}

.comment-div{
    display: block;
    margin-bottom: 5px;
    overflow-wrap: break-word;
    position: relative;
    align-items: center
}
.comment-div-main {
    display: flex
}
.comment-div-main li {

}
.comment-div button{
    padding:0;
    border: none;
    margin-left: 40px
}
// .comment-div li {
//     margin: 0;
//     overflow-wrap: break-word;
//     width: 300px;
//     background-color: rgb(243, 243, 243);
//     border-radius: 10px;
//     padding: 5px;
//     font-size: 10px;
//     text-indent: 70px;
//     border: 1px solid lightgray
// }
.comment-show{
    margin: 0;
    overflow-wrap: break-word;
    width: 300px;
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 5px;
    font-size: 10px;
    // text-indent: 70px;
    border: 1px solid lightgray;
    text-align: left;
    justify-content: center;

}
.react-button{
    // margin-left: 40px
}
.comment-content{
    display: flex;
    width: 100%;
    margin-left: 0px;
    align-content: center
}

.comment-author-link{
    // margin-right: -70px;
    font-size: 10px;
    z-index: 1;
    text-decoration: none;
    color: plum;
    // padding-top: 6px;
    // font-weight: bold
}
.comment-drop-down{
    display: none;
    z-index: 8;
    background-color: white ;
    border: 1px solid gray;
    box-shadow: 1px gray;
    position: absolute;
    right:0;
    /* height: 50px; */
    width: 80px; 
    background-color: white;
 
}
.comment-reaction-pop-up{ 
     display: none;
    // justify-content: space-around;
    // background-color: white;
    position: absolute;
    top: -40px;
    left: 10px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    align-content: center;
    //  padding-bottom: 10px;
    //  padding-top: 5px;
    padding: 5px;
     border: 1px solid lightgray;
     z-index: 6;
  
}

.reaction-pop-up{
    display: none;
    // background-color: white;
    justify-content: center;
    position: absolute;
    top: -40px;
    left: 20px;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 20px;
    align-content: center;
    //  padding-bottom: 10px;
    //  padding-top: 5px;
    padding: 5px;
     border: 1px solid lightgray;
     z-index: 21;
}
.reaction-pop-up img {
    margin: 0;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: margin-top 0.1s;
   
}
.reaction-pop-up button {
    border-radius: 50%;
    background-color: blue;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
    color: white;
    padding: 0;
    z-index: 7
}

.reaction-pop-up img:hover{
    // width: 50px;
    // height: 50px;
    margin-top: -15px;
    padding-bottom: 15px;
}
.reveal{
  position: absolute;
    display: flex;  
    
}
.show {
    position: absolute;
    display: block;
    // right:0;
    // /* height: 50px; */
    // width: 80px; 
    // background-color: white;
}

.comment-drop-down li{
    background-color: white;
}

.comment-drop-down a{
  border-bottom: 1px solid gray
}
.comment-delete{
    border-bottom: 1px solid gray
}
.comment-index button{
    border: none;
    padding: none;
    font-size: 10px
}

.edit-comment-form{
    padding: 10px;
    display: flex;
    background-color: white;
    width: 400px;
    margin: auto;
    // border: 1px solid lightgray;
    border-top: none;
    border-bottom: none ;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-left: 0;
    position: relative;
}

.edit-comment-form textarea{
    padding-left: 10px;
    padding-top: 2px;
    border-radius: 10px;
    border: 1px solid lightgray;
    background-color: rgb(243, 243, 243);
    // height: 20px;
    min-height: 15px;
    width: 300px;
    font-size: 12px;
}

.edit-comment-form button {
    position: absolute;
    right: 2px
}
.edit-comment-form button:hover{
    color: plum
}

.post-interaction-details{
    height: 10px;
    width: 400px;
    padding: 10px;
    background-color: white;
    margin: auto;
    border: 1px solid lightgray;
    border-top: none;
    border-bottom: none;
    display: flex;
    position: relative;;
    padding-top: 0
}
.comment-interaction-details{
    height: 10px;
    width: 400px;
    margin-right: 60px ;
    display: flex;
    position: relative;;
    justify-content:  flex-end;
    padding-top: 0;
    font-size:10px;
    justify-self: flex-start
}

.post-interaction-details p{
    z-index: 5;
    margin: 0
}
.comment-interaction-details p{
    z-index: 5;
    margin: 0
}
.post-interaction-details img {
    width: 15px;
    height: 15px;
    margin-right: 2px
}
.comment-interaction-details img {
    width: 15px;
    height: 15px;
    margin-right: 2px
}
.post-interaction-details-main {
    display: flex;
    align-items: center
}
.comment-interaction-details-main {
     display: flex;
    align-items: center
}
.post-interaction-details-main p{
    font-size: 12px
}
.react-button img {
    height: 20px;
    width: 20px
}

.reaction-pop-up img {
    margin: 0;
    width: 40px;
    height: 40px;
    margin-top: -5px
    //  padding-bottom: 50px
    // margin-right: 5px;
    // margin-left: 5px;
}
.comment-reaction-pop-up img {
    margin: 0;
    width: 40px;
    height: 40px;
    margin-top: -5px;
    transition: margin-top 0.1s;
    // margin-right: 5px;
    // margin-left: 5px;
}
.comment-reaction-pop-up img:hover{
    // width: 50px;
    // height: 50px;
     margin-top: -15px;
    padding-bottom: 15px
}

.nav-user-icon{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-bottom: -6px;
}

.reply-drop-down{
    border: 1px solid red;
    height: 10px;
    width: 10px
}