.search-icon {
    height: 10px;
    height: 15px;
    padding: 4px;
    background-color: white;
    position: absolute;
    top: 1px
}

.home-nav{
    height: 40px;
    box-sizing: border-box;
    padding-left: 10%;
    width: 110%;
    background-color: plum;
    display: flex;
    justify-content: center;
    position: fixed;
    top:0;
    left: -10%;
    z-index: 10

}
.home-nav-content{
    display: flex;
    justify-content: space-between;
    width: 800px;
    // padding-left: 150px;
     min-width: 700px;
}
.home-mid{
   display: block;
    position: relative;
   /* border-left: 1px solid lightgray;
   border-right: 1px solid lightgray; */
//    margin-left: 15%;
//    margin-right: 20%;
   width: 800px;
   height: 100%;
   justify-content: center;
   min-width: 700px;
}


.home{

    display: flex;
    position: relative;
    padding-top: 30px;
    justify-content: center;
    background-color: rgba(243, 242, 242, 0.8);
    width: 110%;
    margin-left: -5%;
    min-height: 65vw
    
}

.search-bar input{
    margin: 0;
    /* width: 500px; */
    width: 350px;
    height: 10px;
    padding: 4px
}
.search-bar{
    // align-items: flex-start;
    // position: fixed;
    // top: 8px;
    // left: 25%;
    width: 50%;
    z-index: 12;
    margin-top: 9px;
    justify-content: flex-end;
    
}
.search-input {
    display: flex;
    align-content: center;
    position: relative;
    width: 100%
}
.search-input img {
    z-index: 13;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    margin-top: -4px
}

.search-results{
    // position: ;
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    padding: 4px;
    padding-top: 0;
    list-style: none;
    background-color: white;
    border: 1px solid lightgrey;
    border-top: none;
    margin-left: 35px;
    margin-top: -8px;
    box-sizing: border-box
    // position: absolute
} 
.search-results ul{
    width: 352px;
    // border: 1px solid red
    
}
.search-results a {
    color: black;
    text-decoration: none
}
.search-results button {
    height: 6px
}
.search-results-none{
    display: none
}

.users-list{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 10px
}
.user-info{
    // position: fixed;
    // top: 0;
    // right: 30%;
    margin-left: 10px;
    color: white;
    align-content: center;
    display: flex;
    z-index: 11;
    margin-top: 12px ;
    text-align: center
}
.user-info img{
    margin-top: -3px
}

.user-info a{
    margin-left: 10px;
    color: white;
    text-decoration: none
}
.user-info button {
    margin-left: 20px;
    background-color: plum;
    color: white;
    padding: 0;
    height: 20px;
    padding: 1px;
    text-align: center;
    padding-bottom: 6px;
    border: 1px solid lightgray
}
.profile-icon{
    height: 20px;
    width: 20px;
    // padding-top: 8px;
    margin-left: 10px;
    margin-top: -4px;
    padding-top: 2px

}
.profile-icon:hover{
    // cursor: pointer;
}
.search-item{
    margin-bottom: 5px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px
}

.edit-post-modal{
    position: absolute;
    z-index: 6;
    background-color: rgba(243, 242, 242, 0.8);
    width: 110%;
    left: -10%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.modal-close{
    position: absolute;
    right: 2px;
    top: 2px;
   
    
}
.modal-close a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.modal-close a:hover{
    color: plum
}

.edit{
    height: 150px;
    position: fixed;
    justify-self: center;
    display: flex;
    // justify-content: left;
    width: 500px;
    background-color: white;
    padding: 10px;
    padding-left: 5px;
    margin: auto;
    margin-top: 5px;
    border-radius: 4px;
    background-color: white;
    font-size: 12px;
    border: 1px solid lightgray;
    position: sticky;
    top: 10%
   
    
}

.edit-post-div form {
    padding: 20px
}
.edit-post-div{
    position: sticky;
    top: 0;
    padding: 5px;

}

.edit-post-head {
    display: block;
    width: 100%;
    margin-left: 10px 
    /* box-sizing: border-box;
    padding: 10px */
}
.post-edit-content{
    margin-top: 0px;
   
    padding: 0
}
.edit-post{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 25px;
    width: 100%;
}



.edit img {
    height: 30px;
    width: 30px;
    position: absolute;
    margin-top: 25px
}

.edit form {
    padding: 20px;
    padding-top: 25px;
    padding-left: 40px;
    padding-bottom: 25px;
    width: 100%
}
.feed-sponsored {
    width: 190px;
    height: fit-content;
    // border: 1px solid red;
    background-color: white;
    border: 1px solid lightgray;
    
    position: sticky;
    top: 50px;
    margin-top: 12px;
    border-radius: 3px;
    // right: 30%;
    font-size: 12px;
    // text-align: center;
    padding: 3px;
    margin-left: 5px;
}
.feed-sponsored p {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    padding-bottom: 5px;
    margin: 0;
    padding-top: 5px;
    padding-left: 3px;

}
.feed-sponsored li{
    list-style: none
}
.suggested-friends {
    // background-color: white;
    padding: 10px;;
    padding-left: 3px;
    position: relative;
    min-width: 177px;
    // margin-top: 10px
}
.unadded-friend {
    background-color: plum;
    color: white;
    padding-bottom: 5px;
    height: 15px;
    width: 65px;
    margin-left: 5px;
    position: absolute;
    right: 5px;
    font-size: 9px;
    margin-top: 3px;
    border: 1px solid lightgray;
    line-height: 12px;
}
.unadded-friend:hover{
    background-color: #8E4585
}

.added-friend{
    padding-bottom: 5px;
    height: 15px;
    width: 65px;
    margin-left: 5px;
    right: 5px;
    font-size: 9px;
    margin-top: 3px;
    position: absolute;
}

.added-friend:hover{
    // color: plum
    
}
.suggested-friends button.added-friend:hover{
    color: black
}
.added-friend:hover{
    // color: black;
    cursor: initial;
}


.suggested-friends img {
    width: 30px;
    height: 30px;
    border-radius: 50%
}
.suggested-details {
    display: flex
}
.suggested-details a li {
   text-align: left;
   font-size: 10px;
   color: plum
}
.suggested-details a {
    text-decoration: none;
    color: black;
    display: flex
}
.suggested-details a:hover{
    color: plum
}
.suggested-img {
    width: 30px;
    height: 30px;
    margin-right: 5px
}

.feed-sidebar{
    width:100px;
    height: 100px;
    
    justify-self: flex-start;
     position: sticky;
    top: 50px;
   
    // left: 25%;
}
.feed-sidebar div {
    display: flex;
    margin-bottom: 10px
}

.feed-sidebar img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid lightgray
}

.feed-sidebar li{
    list-style: none;
    font-size: 12px;
    padding-top: 5px;
    margin-left: 5px
}
.feed-sidebar a {
    font-size: 10px;
    // padding-top: 5px;
    // margin-left: 5px;
    color: black;
    text-decoration: none;
    display: flex
}
.feed-sidebar-user{
    display: flex;
    align-content: center
}

.added-friend{
    background-color: lightgray;
    cursor: auto;
}
.mutual-friends{
    font-size: 8px
}
.linked > img{
    border: none
}
.pad{
    width: 30px;
    height: 30px;
    margin-left: 5px
}