.photo-modal{
    width: 120%;
    height: 100%;
    left: -10%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center
}
.photo-modal-content{
    display: flex;
    width: 650px;
    height: 400px;
    margin-top: 10%;
    background-color: white
}
.photo-modal-photo{
    width: 400px;
    height: 400px
}
.photo-modal-photo > img {
    width: 100%;
    height: 100%;
}
.photo-info{
    background-color: white;
    width: 250px;
    height: 300px;
    display: block;
    margin:20px;
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 0px
} 
.photo-user-info > p {
    margin: 0;
    display: flex;
    align-content: center
}
.photo-user-info {
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
}
.photo-user-info > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -5px;
    margin-right: 5px
}
.photo-info > div {
    // width: 200px;
    box-sizing: border-box;
    position: relative;
}

.photo-user-info {
    display: flex;
    padding-bottom: 10px
 }
.photo-info > div {
    margin: 0;
    position: relative;
    width: 100%;
    border: none;
 }
// .photo-info > div.post-interaction-container {
//     height: 20px;
//     width: 100%;
//     position: relative;
//     margin: 0
// }
.photo-info > div.post-interaction-container button.comment{
    width: 50%;
    height: 20px
}
.photo-info > div.comment-form textarea{
    width: 100%
}
.photo-info > div.comment-form {
    margin: 0;
    box-sizing: border-box;
    width: 90%
}
.photo-info button.comment-delete-button {
    margin-left: 5px;
    position: relative;
}

.photo-info div.post-interactions-container {
    background-color: red;
    margin-right: 0;
    width: 100%;
    height: 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px

}

.photo-info div.post-interaction-details {
    margin-top: 20px;
    margin-right: 0px;
    width: 100%;
    border-bottom: 1px solid lightgray
    }
.photo-user-info > a{
    color: black;
    position: absolute;
    top: -2px;
    right: 5px;
    text-decoration: none
}
.photo-user-info > a:hover{
    color: plum
}

.photo-comments{
    height: 80%;
    overflow-y: scroll;
    width: 100%;
    margin: 0;
    padding-left: 5px
}
.photo-comments > div.comment-index{
    width: 80%;
    z-index: 35;
    border: none;
    padding-left: 0;
    margin-left: 3px;
    margin: 0px
}
.photo-comments > div > ul {
    width: 100%
}
