.photo-modal{
    width: 120%;
    height: 100%;
    left: -10%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center
}

.photo-modal{
    width: 120%;
    height: 100%;
    left: -10%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center
}
.profile-modal-content{
    display: flex;
    width: 650px;
    height: 500px;
    // height: fit-content;
    margin-top: 10%;
    position: relative;
}
.profile-modal-content > img {
    width: 100%
}
.profile-modal-content > a {
    color: white
}
.back-arrow{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px; 
    // top: 45%;
    padding-top: 25%;
    font-size: 30px;
    // padding-bottom: 40%;
    height: 100%;
    color: white;
    background-color: none;
    opacity: 0.5;
    //  box-sizing: border-box
}
.next-arrow{
    height: 50px;
    width: 50px;
    position: absolute;
    color: white;
    background-color: none;
    right: -20px;
     padding-top: 25%;
    font-size: 30px;
    // padding-bottom: 40%;
    height: 100%;
    color: white;
    background-color: none;
    opacity: 0.5;
    // box-sizing: border-box
}
.next-arrow:hover{
    opacity: 1;
}
.back-arrow:hover{
    opacity: 1;
}