.cover-photo {
    width: 100%;
    height: 250px;
    justify-self: center;
    position: relative;
    background-position-y: -150px;
    // background-image: url("https://images.unsplash.com/photo-1532274402911-5a369e4c4bb5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-image: url("https://images.unsplash.com/photo-1418985227304-f32df7d84e39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover
}

.user-info-panel{
    display: block;
    justify-content: center;
    margin: auto;
    // justify-self: flex-start;
    width: 750px;
    height: 300px
}

.profile-photo{
    border-radius: 50%;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: -165px;
    left: 10px;
    // background-image: url("https://s3-us-west-2.amazonaws.com/aa-progress-tracker/students/avatars/000/003/806/medium/Wesley_Tam.jpg?1563384027");
    background-size: cover;
    border: 3px solid white;
    overflow: hidden;
}
.profile-photo img {
    height: 100%;
    width: 100%;
    background-color: grey
}

.profile-buttons{
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100px;
    height: 30px;
    z-index: 4;
}
.profile-buttons button{
    background-color:whitesmoke;
    height: 20px;
    border: 1px solid lightgray;
    line-height: 18px;
}

.user-name {
    position: absolute;
    color: white;
    bottom: -10px;
    left: 130px;
    z-index: 4;
    font-size: 25px
}
.user-info-panel-bottom{
    background-color: white;
    height: 40px;
    border: 1px solid lightgray;
    border-top: none
}
.profile-photo-link{
    background-color: rgba(0,0,0,.6);
    display: none;
    /* align-content: flex-end; */
    position: absolute;
   padding: 50%;
   padding-left:30%;
   padding-right: 70%;
    margin-top: 50%; 
    font-size: 12px;

}
.shown{
    display: flex
}

.profile-photo-link form{
   color: white;
   text-decoration: none;
   position: absolute;
   top: 10%;
}
.profile-photo-link form input{
    display: none
}

.news-feed{
    padding: 0
}
.profile-feed{
    width: 750px;
    display: flex;
    justify-content: space-between;
    margin: auto
}
.profile-photo-grid{
    display: grid;
    padding-left: 4px;
    box-sizing: border-box;
    width: 250px;
    // height: 250px;
    // flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 5px;
    // grid-auto-flow: column;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // grid-template-rows: 70px;
    // grid-template-rows: 70px;
    // grid-row: 1 / 1;
    // grid-auto-rows: 70px;
    background-color: white;

}
.profile-photo-grid-photo{
    // width: 50px;
        height: 70px;
        // overflow: hidden;
}
.profile-photo-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover
    // padding-left: 2px;
    // padding-right: 2px;
}
.users-photos{
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding-bottom: 5px
}
.users-photos p{
    margin: 5px
}
.profile-feed-info{
    position: sticky;
    width: 260px;
    height: fit-content;
    top: 40px;
    margin-top: 12px
}
.friends-info{
    background-color: white;
    padding: 15px;
    padding-top: 10px;
    margin-bottom: 5px;
    border: 1px solid lightgray;
    display: block;
    border-radius: 4px;
    width: 260px;
    box-sizing: border-box
}

.friends-info p{
    margin: 0
}
.friends-info > p{
clear: right;

}
.friends-info img{
    padding: 0;
    margin: 0;
    margin-right: 5px
}

.friends-photo-grid{
    // display: flex;
    // flex-wrap: wrap;
    // font-size: 10px
    widows: 260px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-gap: 5px;
 }
 .friends-photo-grid > div{
     font-size: 12px
 }
.friends-info > div{
   display: flex;
   margin-bottom: 5px
}
.friends-photo-grid a {
    color: black;
    text-decoration: none
}
.friends-photo-grid a:hover{
    color: plum;
    text-decoration: underline solid plum
}
.friends-photo-grid img{
    height: 70px;
    width: 100%;
    margin: auto
}